<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>converter</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="bold-text ">Welcome to our website! We're here to help you Get fast and easy calculator for converting one currency to another using the latest exchange rates. Browse our collections, learn more about our website, and get in touch with us if you have any questions. Thank you for visiting!"</p>

                <p class="bold-text-centered-italic"> CANADIAN DOLLAR EXCHANGE RATE </p>
                <ul>
                <li> 1 CAD = 0.742827 USD</li>
                <li> CAD = 0.677928 EUR</li>
                <li>1 CAD = 61.1197 INR</li>
                <li> 1 CAD = 0.597391 GBP</li>
            </ul>
                    <p class="bold-text-centered-italic"> BRITISH POUND EXCHANGE RATE </p>
                <ul>
                <li>1 GBP = 1.67395 CAD</li>
                <li>1 GBP = 102.307 INR</li>
                <li>  1 GBP = 1.24328 USD</li>
                <li>  1 GBP = 1.13488 EUR</li>
                </ul>
                    <p class="bold-text-centered-italic"> EURO EXCHANGE RATE </p>
                <ul>
                <li>  1 EUR = 1.47508 CAD</li>
                <li>  1 EUR = 0.881148 GBP</li>
                <li>  1 EUR = 90.1491 INR</li>
                <li>  1 EUR = 1.09550 USD</li>
                </ul>
                    <p class="bold-text-centered-italic">INDIAN RUPEE EXCHANGE RATE </p>
                <ul>
                <li>  1 INR = 0.00977455 GBP</li>
                <li>   1 INR = 0.0163613 CAD</li>
                <li>  1 INR = 0.0110927 EUR</li>
                <li>  1 INR = 0.0121530 USD</li>
                </ul>
<p class="bold-text-centered-italic"> US DOLLAR EXCHANGE RATE </p>
                <ul>
                <li>  1 USD = 1.34621 CAD</li>
                <li>  1 USD = 0.804325 GBP</li>
                <li>  1 USD = 82.2842 INR</li>
                <li>  1 USD = 0.912825 EUR</li>
                </ul>


            </div>
        </div>
    </div>




</section>


</body>
</html>